<!DOCTYPE html>
<html lang="id" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/main_template :: main_header(~{::title}, ~{}, ~{}) }">
    <title>Student | Bani Saad Tuition System</title>
</head>
<body>
<div class="container" th:replace="~{fragments/main_template :: topMenu}"></div>

<!--Content-->
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <a class="btn btn-primary" th:href="@{student/add}" role="button">Add Student</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Place of Birth</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Registration</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, iterStat : ${students}">
                <td th:text="*{student.id}">NIS</td>
                <td th:text="*{student.fullName}">Full Name</td>
                <td th:text="*{student.gender}">Male</td>
                <td th:text="*{student.birthPlace}">Birth Date</td>
                <td th:text="*{student.birthDate}">Birth Date</td>
                <td th:text="*{student.registrationYear}">Birth Date</td>
                <td>
                    <a class="btn btn-primary btn-sm" th:href="@{/tuition/{studentId}(studentId=${student.id})}" role="button">Pay Tuition</a>
                    <a class="btn btn-warning btn-sm" th:href="@{/student/edit/{studentId}(studentId=${student.id})}" role="button">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--End Content-->

<div th:replace="~{fragments/main_template :: js(~{})}"></div>
</body>
</html>