<!DOCTYPE html>
<html lang="id" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/main_template :: main_header(~{::title}, ~{}, ~{}) }">
    <title>Tuition | Bani Saad Tuition System</title>
</head>
<body>
<div class="container" th:replace="~{fragments/main_template :: topMenu}"></div>

<!--Content-->
<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tuition ID</th>
                <th scope="col">Payment Date</th>
                <th scope="col">Period</th>
                <th scope="col">Student Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tuition, iterStat : ${tuitions}">
                <td th:text="*{iterStat.count}">1</td>
                <td th:text="*{tuition.id}">Tuition ID</td>
                <td th:text="*{tuition.paymentDate}">Payment Date</td>
                <td th:text="*{tuition.period}">Period</td>
                <td th:text="*{tuition.student.fullName}">Student Name</td>
                <td th:text="${#numbers.formatInteger(tuition.amount,3,'POINT')}" class="text-end">Amount</td>
                <td>
                    <a class="btn btn-warning btn-sm" th:href="@{/tuition/edit/{tuitionId}(tuitionId=${tuition.id})}" role="button">Edit Tuition</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--End Content-->

<div th:replace="~{fragments/main_template :: js(~{})}"></div>
</body>
</html>